#  sudo nano /lib/systemd/system/onedrive.service
#  sudo chmod 644 /lib/systemd/system/onedrive.service
#  sudo systemctl daemon-reload
#  sudo systemctl enable onedrive.service
## sudo systemctl disable onedrive.service
#  sudo reboot
#  sudo systemctl status onedrive.service
## sudo systemctl stop onedrive.service
## sudo systemctl start onedrive.service
#  sudo journalctl --unit=onedrive.service -f

[Unit]
Description=OneDrive Service
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Github/PiCamWatcher/bin
ExecStart=/home/pi/Github/PiCamWatcher/bin/onedrive --confdir /home/pi/Github/PiCamWatcher/bin --resync --monitor --monitor-interval 30 --disable-notifications --log-dir /home/pi/Github/PiCamWatcher/logs/ --enable-logging
Restart=on-failure

[Install]
WantedBy=multi-user.target
